version: '3.3'
services:
  primary:
    image: postgres:16-alpine3.23
    container_name: pg-primary
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - primary_data:/var/lib/postgresql/data
      - primary_init:/docker-entrypoint-initdb.d
    command:
      - bash
      - -lc
      - |
        set -eu

        chmod +x /docker-entrypoint-initdb.d/02-hba.sh || true

        exec docker-entrypoint.sh postgres \
          -c listen_addresses=* \
          -c wal_level=replica \
          -c max_wal_senders=10 \
          -c max_replication_slots=10 \
          -c hot_standby=on
          -c log_min_messages=info
          -c log_replication_commands=on
          -c log_connections=on
          -c log_min_messages=info


  replica1:
    image: postgres:16-alpine3.23
    container_name: pg-replica1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      REPLICA_DELAY: 8s
    ports:
      - "15432:5432"
    volumes:
      - replica1_data:/var/lib/postgresql/data
      - replica_init:/replica-init
    depends_on:
      - primary
    command:
      - bash
      - -lc
      - |
        set -eu

        chmod +x /replica-init/replica-entrypoint.sh || true
        exec /replica-init/replica-entrypoint.sh

  replica2:
    image: postgres:16-alpine3.23
    container_name: pg-replica2
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      REPLICA_DELAY: 20s
    ports:
      - "25432:5432"
    volumes:
      - replica2_data:/var/lib/postgresql/data
      - replica_init:/replica-init
    depends_on:
      - primary
    command:
      - bash
      - -lc
      - |
        set -eu
        chmod +x /replica-init/replica-entrypoint.sh || true
        exec /replica-init/replica-entrypoint.sh

volumes:
  primary_data:
  replica1_data:
  replica2_data:
  primary_init:
    external: true
    name: postgresql-master-worker_primary_init
  replica_init:
    external: true
    name: postgresql-master-worker_replica_init
